<div class="header">
            <a href="https://haggis78.github.io/silkroad/">
           	<!--<h1>The Silk Road and Its Travelers</h1>
            <img src="images/hudzaifah-signature.png"/>
            <img src="images/romantica.png" />
            <img src="images/solustion.png" />
            <img src="images/salazur.png" />-->
            <img src="images/salazur-red.png" title="The Silk Road and Its Travelers" alt="The Silk Road and Its Travelers"/>
            </a>
        </div>
        <div id="navbar">
            <div class="navbar">
                <a href="index.xhtml">Home</a>                
                <div class="dropdown">
                    <button class="dropbtn">Teaching Resources</button>
                    <div class="dropdown-content">
                        <a href="student-folders/Campbell/our-project.html">This site</a>
                        <a href="student-folders/Campbell/other-projects.html">Other projects</a>                       
                    </div>
                </div>                
                <div class="dropdown">
                    <button class="dropbtn">Our Project<i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="student-folders/Campbell/what-is-silk-road.html">What is the Silk Road?</a>
                        <a href="Purpose.html">Purpose</a>
                        <a href="question.html">Research question</a>
                        <a href="methodology.html">Methodology</a>
                        <a href="team.html">Team</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Travelers<i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="travelers.html">Travelers</a>
                        <a href="travelers.html">Timeline</a> <!-- whc: put on Travelers page with an anchor point -->
                        <a href="student-folders/Ball/qui-chuji.html">Qui Chuji</a>
                        <a href="student-folders/Camick/mongol-postal-road.html">Mongol Postal Routes</a>
                        <a href="student-folders/Case/marco-polo.html">Marco Polo</a>
                        <a href="student-folders/Cavada/pegolotti.html">Pegolotti</a>
                        <a href="student-folders/Chinoy/marignolli.html">Marignolli</a>
                        <a href="student-folders/Crookston/anon-chinese-monk.html">Anonymous Chinese Monk</a>
                        <a href="student-folders/Dutrow/odoric-of-pordenone.html">Odoric of Pordenone</a>
                        <a href="student-folders/Guillen/benjamin-of-tudela.html">Benjamin of Tudela</a>
                        <a href="student-folders/Hale/rabban-sawma.html">Rabban Sawma</a>
                        <a href="student-folders/Myers/wm-of-rubruck.html">William of Rubruck</a>
                        <a href="student-folders/Peterson/montecorvino.html">John of Montecorvino</a>
                        <a href="student-folders/Richey/ibn-battuta.html">Ibn Battuta</a>
                        <a href="student-folders/Stiffler/piano-carpini.html">John of Plano Carpini</a>                        
                    </div>
                </div>                    
                <div class="dropdown">
                    <button class="dropbtn">Human Geography<i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="student-folders/Ball/Beijing.html">Beijing</a>
                        <a href="student-folders/Guillen/Constantinople.html">Constantinople</a>
                        <a href="student-folders/Chinoy/dunhuang.html">Dunhuang</a>                        
                        <a href="student-folders/Stiffler/Great-Wall.html">Great Wall of China</a>
                        <a href="student-folders/Myers/Karakorum.html">Karakorum</a>
                        <a href="student-folders/Peterson/Samarkand.html">Samarkand</a>
						<a href="student-folders/Crookston/turfan-article.html">Turfan</a>
                    </div>
                </div>                
                <div class="dropdown">
                    <button class="dropbtn">Natural Geography<i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="student-folders/Case/oxus.html">Oxus River</a>
                        <a href="student-folders/Guillen/Gobi-Desert.html">Gobi Desert</a>
                        <a href="student-folders/Richey/The-Himalayas.html">The Himalayas</a>
                    </div>
                </div>                
                <div class="dropdown">
                    <button class="dropbtn">Peoples<i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="student-folders/Ball/Sogdians.html">Sogdians</a>
                        <a href="student-folders/Crookston/tibetan-article.html">Tibetans</a>
                        <a href="student-folders/Dutrow/Turks.html">Turks</a>
                        <a href="student-folders/Myers/Tatars.html">Tatars</a>
                        <a href="student-folders/Stiffler/Uighurs.html">Uighurs</a>
                	</div>
                </div>                
                <div class="dropdown">
                    <button class="dropbtn">Trade Goods<i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="student-folders/Chinoy/coins.html">Coins</a>
                        <a href="student-folders/Cavada/Glass.html">Glass</a>
                        <a href="student-folders/Hale/Horses.html">Horses</a>
                        <a href="student-folders/Hale/silk.html">Silk</a>
                    </div>
                </div>                
                <div class="dropdown">
                    <button class="dropbtn">Ideas<i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="student-folders/Richey/Islam.html">Islam</a>
                    </div>
                </div>                
                <div class="dropdown">
                    <button class="dropbtn">Other<i class="fa fa-caret-down"></i>
                    </button>                
                    <div class="dropdown-content">
                        <a href="student-folders/Campbell/black-death.html">The Black Death</a>                        
                    </div>
                </div>                
            </div>
        </div>
<hr/>